.app{
   
   background-color: aliceblue;
   display:grid;
   grid-template-columns: 1fr 1fr;
   row-gap:20px;
   text-align: center;
   
   
}

#intro{
   background-color: aliceblue;
   font-size: larger;
   font-weight: bolder;
   text-align: center;
}
@media(max-width:600px){
  .app{ background-color: aliceblue;
   display:grid;
   grid-template-columns: 1fr;
   row-gap:20px;
   text-align: center;
   }
   img{
   height:320px;
    width:320px;
    border-radius: 50%;
    }
}
a {
    color: blue;
  }
  a:hover {
     color: red;
  };

  body {
   background-color: aliceblue;
  }